@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

.popping{
    font-family: 'Poppins', sans-serif;
}
.large-font{
    font-size: 60px;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.font-18{
    font-size: 18px;
}
.font-14{
    font-size: 14px;
}
.font-42{
    font-size: 42px;
}
.font-30{
    font-size: 30px;
}

/* banner part */
.banner{
   background-image: url("/Images/banner-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
}
.banner-width{
    width: 40%;
}
.btn-color{
    background-color: #ff7214;
    
}
.common-clr{
    color: #ff7214;
}
.banner-img{
    width: 550px;
}
/* feature part */
.feature-bg{
    background-image: url('/Images/feature-bg.png');
    background-size: cover;
}
.feature-img{
    width: 30px;
    height: 30px;
  
}
.fi{
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: peachpuff;
    border-radius: 50%;
    padding: 10px;
}
.fi-1{  
    background-color: peachpuff;
}
.fi-2{
    background-color: lavender;
}
.fi-3{
    background-color: rgb(208, 238, 250);
}
.fi-4{
    background-color: rgb(252, 228, 232);
}
.card:hover{
    border: white;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* about part */
.about-bg{
    background-image: url('/Images/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}
.about-img-1{
    width: 330px;
    height: 340px;
    margin-top: 50px;
    padding-right: 20px;
}
.about-img-2{
    width: 330px;
    height: 350px;
    margin-top: -120px;
}
.year-exp{
    margin-left: 330px;
    margin-top: -80px;
}
.about-text{
    width: 33%;
   margin-left: 100px;
}
.double-arrow{
    width: 10%;
    padding-left: 5px;
}
/* client work experience */
.client-work-des{
    width: 65%;
    padding-left: 110px;
    padding-right: 30px;
}
.arrow{
    width: 10%;
}
.learn-more:hover{
    color: #ff7214;
}
/* rank part */
.rank-bg{
    background-image: url('/Images/BG.png');
}
.rank-img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.rank-num{
    font-size: 50px;
}
.rank-card{
    border: none;
    width: 55%;
background-color:#152b45 ;
color: white;
}
.rank-card:hover{
    background-color: #152b45;
}

/* testimonial */
.testimonial-bg{
    background-image: url('/Images/testimonial-bg.png');
    margin-top: 50px;
}
.image {
    position: relative;
    width: 520px;
}
.image__img {
    display: block;
    width: 100%;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.play-icon{
    color: #ff7214;
}
.image__overlay--blur {
    backdrop-filter: blur(5px);
}
.image__overlay--primary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image__overlay:hover {
    opacity: 1;
}
.image__overlay:hover > * {
    transform: translateY(0);
}
.image__title {
    font-size: 2em;
    font-weight: bold;
}
.image__description {
    margin-top: 0.25em;
}
.client-img{
    width: 130px;
    border-radius: 50%;
    padding: 10px;
}
.client-arrow{
    width: 6%;
    padding: 3px;
}
.client-tes-part{
    width: 55%;
    margin-left: 65px;
}
.tes-comment{
    width: 80%;
}
/* experienced part */
.card-title-exp:hover{
    color: #ff7214;
}
.exp-social p:hover{
    color: #ff7214;

}

/* blog part */
.blog-img{
    width: 358px;
    margin-left: -4px;
    margin-top: -4px;
}
.blog-icon{
    color: #ff7214;
}
/* contact */
.contact-icon{
    height: 20px;
}
.form{
    width: 60%;
}
/* footer */
.footer-bg1{
    background-image: url('/Images/BG\ \ 4.png');
}
.footer-bg2{
    background-image: url('/Images/BG\ 2.png');
}
.footer-icon{
    padding-right: 10px;
    color: rgba(245, 245, 245, 0.692);
}

.insta-img{
    width: 150px;
    height: 80px;
    padding-bottom: 15px;
}


/*....................
      media query
.................... */

/* mobile screen */
@media screen and (max-width: 688px) {
    body html{
        overflow-x: hidden;
    }
    .banner-width{
        width: 100%;
        margin-top: 100px;
    }
    .large-font{
        font-size: 35px;
    }
    .banner-img{
        width: 320px;
    }
    .banner{
        height: 800px;
    }
    .about-img-1{
        width: 190px;
        height: 250px; 
    }
    .about-img-2{
        width: 180px;
        height: 250px;
    }
    .year-exp{
        margin-left: 195px;
        margin-top: -80px;
    }
    .about-text{
        width: 90%;
       margin-left: 40px;
       margin-top: 50px;
    }
    .client-work-des{
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }
   .image__img{
       width: 90%;
   }
   .image {
    position: relative;
    width: 400px;
    }
    .tes-comment{
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .insta-img{
        width: 150px;
        height: 120px;
    }    
}

/* Tablet screen */
@media only screen and (min-width:689px) and (max-width:992px) {
    .banner-width{
        width: 60%;
        margin-top: 100px;
    }
    .banner-img{
        width: 320px;
    }
    .banner{
        height: 900px;
    }
    .large-font{
        font-size: 40px;
    }
    .banner-width{
        width: 80%;
        margin-top: 100px;
    }
    .about-img-1{
        width: 210px;
        height: 250px; 
    }
    .about-img-2{
        width: 210px;
        height: 250px;
    }
    .year-exp{
        margin-left: 215px;
        margin-top: -80px;
    }
    .image__img{
        width: 100%;
    }
    .image {
     position: relative;
     width: 450px;
     height: 400px;
     }
}
